p{
	color: aquamarine;
	font-size: 30px;
}
.blue{
	color: blue;
	font-size: 20px;
}
.darkturquoise{
	color: darkturquoise;
	font-size: 30px;
}
#background{
	background-color: darkblue;
}

#one{
	height: 150px;
	width: 150px;
	background-color: green;
	display: inline-block;
	position: fixed;
	left: 25%;
}

#background-h{
	height: 2048px;
}
#space-v{
	margin-top: 30px;
	margin-bottom: 30px;
	color: darkturquoise;
}
.navitem{
	list-style-type: none;
	display: inline;
	margin-right: 5px;
	padding:2px 5px;
	font-size: 30px;
}
#navmenu{
	text-align: center;
	background-color: black;
	color: blue;
}
a:link{
	color: blue;
}
a:visited{
	color: purple;
}
a:hover{
	color: turquoise;
}
a:active{
	color: lightgreen;
}
.rightside{
	float: right;
	width: 48%;
}
.leftside{
	width: 48%;
}
.clearfloat{
	clear: both;
}
.about_T{
	color: #8ACDF9;
	font-size: 70px;
	text-align: center;
	margin: 10px;
}
.about_P{
	color: white;
	font-size: 20px;
	margin-left: 200px;
	margin-right: 200px;
}
.orange{
	color: orange;
	font-size: 25px;
	margin-right: 160px;
	margin-left: 50px;
}
.home_p{
	color: darkturquoise;
	font-size: 40px;
	text-align: center;
}
#news{
	height: 300px;
	width: 700px;
	background-color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	align-items: center;
	color: black;
	margin-left: 400px;
}